/* *{
    outline: 1px solid red;
   } */

   /*
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

   */

/*
@font-face {
    font-family: 'poppinsregular';
    src: url(./Fonts/Poppins/poppins-regular-webfont.woff2) format('woff2'),
         url(./Fonts/Poppins/poppins-regular-webfont.woff) format('woff'),
         url(./Fonts/Poppins/poppins-regular-webfont.ttf) format('truetype'),
         url(./Fonts/Poppins/poppins-regular-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsbold';
    src: url('./Fonts/Poppins/poppins-bold-webfont.woff2') format('woff2'),
         url('./Fonts/Poppins/poppins-bold-webfont.woff') format('woff'),
         url('./Fonts/Poppins/poppins-bold-webfont.ttf') format('truetype'),
         url('./Fonts/Poppins/poppins-bold-webfont.svg#poppinsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinslight';
    src: url('./Fonts/Poppins/poppins-light-webfont.woff2') format('woff2'),
         url('./Fonts/Poppins/poppins-light-webfont.woff') format('woff'),
         url('./Fonts/Poppins/poppins-light-webfont.ttf') format('truetype'),
         url('./Fonts/Poppins/poppins-light-webfont.svg#poppinslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('./Fonts/Poppins/poppins-semibold-webfont.woff2') format('woff2'),
         url('./Fonts/Poppins/poppins-semibold-webfont.woff') format('woff'),
         url('./Fonts/Poppins/poppins-semibold-webfont.ttf') format('truetype'),
         url('./Fonts/Poppins/poppins-semibold-webfont.svg#poppinssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsextralight';
    src: url('./Fonts/Poppins/poppins-extralight-webfont.woff2') format('woff2'),
         url('./Fonts/Poppins/poppins-extralight-webfont.woff') format('woff'),
         url('./Fonts/Poppins/poppins-extralight-webfont.ttf') format('truetype'),
         url('./Fonts/Poppins/poppins-extralight-webfont.svg#poppinsextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsmedium';
    src: url('./Fonts/Poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('./Fonts/Poppins/poppins-medium-webfont.woff') format('woff'),
         url('./Fonts/Poppins/poppins-medium-webfont.ttf') format('truetype'),
         url('./Fonts/Poppins/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsthin';
    src: url('Fonts/Poppins/poppins-thin-webfont.woff2') format('woff2'),
         url('Fonts/Poppins/poppins-thin-webfont.woff') format('woff'),
         url('Fonts/Poppins/poppins-thin-webfont.ttf') format('truetype'),
         url('Fonts/Poppins/poppins-thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

*/

body {
    background-color: #FEFEFE
}


.navbar{
    display:flex;
    flex-direction: row;
    background-color: red;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}


.menu {
    width: 26px;
    height: 16px;


    background: url(./Assets/menupop.svg);
}

.logo {
    width: 82px;
    height: 44px;


    background: url(./Assets/Logo.png);
}

.home {
    width: 132px;
    height: 24px;
    margin-left: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: #000000;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: #FEFEFE;
}

.quemsomos {
    width: 132px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #FEFEFE;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: #000000
}

.servicos {
    width: 132px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FEFEFE;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: #000000
}

.portfolio {
    width: 132px;
    height: 24px;
    top: 55px;      

    background: #FEFEFE;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 9px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;

    color: #000000
}

.intro {
    position: absolute;
    width: 328px;
    height: 129px;
    left: 74px;
    top: 325px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 60px;
    /* or 86% */


    color: #353535;
}

/*
.bolder1 {
    font-family: 'Poppins', sans-serif;
}
*/

.origem {
    position: absolute;
    width: 597px;
    height: 199px;
    left: 76px;
    top: 544px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */


    color: #000000;
}

.subtext {
    position: absolute;
    width: 597px;
    height: 199px;
    left: 76px;
    top: 646px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    /* or 120% */
}

.instagram {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 280px;
    top: 780px;

    background: url(Assets/Icons/instagram.svg);
}

.behance {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 315px;
    top: 780px;

    background: url(Assets/Icons/behance.svg);
}

.spotify {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 350px;
    top: 780px;

    background: url(Assets/Icons/spotify.svg);
}

.email {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 385px;
    top: 780px;

    background: url(Assets/Icons/email.svg);
}

.retangulo1 {
    position: absolute;
    width: 416px;
    height: 7px;
    left: 76px;
    top: 536px;
}

.estatua1 {
    position: absolute;
    width: 366px;
    height: 456px;
    left: 940px;
    top: 400px;
}

.elipse1 {
    position: absolute;
    width: 1100px;
    height: 960px;
    left: 710px;
    top: 60px;
}

.statueText {
    position: absolute;
    width: 280px;
    height: 120px;
    left: 1360px;
    top: 460px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */


    color: #FFFFFF;
}

.saibaMais {
    position: absolute;
    width: 132px;
    height: 24px;
    left: 1360px;
    top: 550px;

    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 9px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;

    color: #FEFEFE;
}

.entendemosTitle {
    position: absolute;
    margin: auto;
    width: 773px;
    height: 63px;
    left: 530px;
    top: 1040px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 60px;
    /* or 86% */


    color: #353535;
}

.entendemosText {
    position: absolute;
    margin: auto;
    width: 875px;
    height: 200px;
    left: 480px;
    top: 1140px;

    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    line-height: 35px;
    /* or 117% */

    text-align: center;

    color: #000000;
}



.bolder2 {
    font-family: 'Poppins', sans-serif;
}

.diamond1 {
    position: absolute;
    width: 186px;
    height: 186px;
    left: 1350px;
    top: 1080px;
}

.diamond2 {
    position: absolute;
    width: 339px;
    height: 339px;
    left: 170px;
    top: 1220px;
}

.diamond3 {
    position: absolute;
    width: 431px;
    height: 431px;
    left: 1150px;
    top: 1600px;
}

.diamondRainbow {
    position: absolute;
    margin: auto;
    width: 1041px;
    height: 1041px;
    left: 384px;
    top: 1080px;
}

.myMan {
    position: absolute;
    width: 580px;
    height: 290px;
    left: 610px;
    top: 1460px;
}