@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    /*outline: 0.052vw solid red;*/
    
}

body{
    font-family: 'Poppins', 'sans-serif';
    color: #000;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

/* Menu */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
    transition: 0.2s;  
}  

.closebtn img {
    width: 1.510vw; 
    height: 1.510vw; 
}

.closebtn {
    display: flex;
    width: 1.510vw;
    height: 1.510vw;
    margin: 1.875vw 0 1.875vw 1.146vw;
}

.sidebar ul{
    margin-top: 2.604vw;
}

.sidebar li{
    display: flex;
}

.sidebar li:before{ 
    content:"·";
    font-size: 4vw;
    line-height: 2.1vw;
    margin-right: 0.260vw;
}

.sidebar > img:first-of-type{
    width: 0.469vw;
    height: 32.031vw;
    float: left;
    margin-left: 1.667vw;
    margin-right: 1vw;
}

.sidebar > img:nth-of-type(2){
    width: 4.271vw;
    margin: 4.688vw auto 0 auto;
    display: block;
}

.sidebar a{
    font-weight: 400;
    font-size: 1.563vw;
    line-height: 2.083vw;
    color: #000; 
}

.sidebar p{
    font-weight: 600;
    font-size: 1.563vw;
    line-height: 2.083vw;
    margin-top: 0.573vw;
}

.sidebar .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.771vw;
    margin-right: 0.833vw;
}

.sidebar .icons img{
    width: 1.335vw;
    margin-left: 0.833vw;
}

/* Header */

.header .grid,
.headerid .grid{
    grid-template-columns: 100%;
    justify-items: center;
}

.header img:first-of-type,
.headerid img:first-of-type{
    width: 7.656vw;
    margin-top: 2.865vw;
}

.header button,
.headerid button{
    width: 2.370vw;
    height: 2.370vw;
    justify-self: flex-start;
    margin-left: 4.635vw;
    background-image:url('../Assets/menupop.svg'); 
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header img:nth-of-type(2),
.headerid img:nth-of-type(3){
    width: 53.490vw;
    height: 1.198vw;
    transform: rotate(180deg);
}

.headerid img:nth-of-type(2){
    width: 7.813vw;
    justify-self: flex-end;
    margin-top: -7.813vw;
}

.header h1,
.headerid h1{
    font-size: 4.167vw;
    line-height: 1.563vw;
    margin: 5.052vw 0 3.073vw 0;
}

/* Social Media */

.socialmedia p:first-of-type{
    font-weight: 300;
    font-size: 1.823vw;
    line-height: 2.604vw;
    text-align: center;
    margin: 60px 0;
}

.socialmedia p:nth-of-type(2){
    font-size: 1.302vw;
    line-height: 1.563vw;
    text-align: center;
    margin-top: 4.174vw;
    margin-bottom: 2.240vw;
}

.socialmedia h1{
    font-weight: 600;
    font-size: 3.125vw;
    line-height: 1.042vw;
    text-align: center;
    margin-bottom: 40px;
}

.socialmedia> img:first-of-type{
    transform: rotate(180deg);
    width: 25.683vw;
    height: 0.745vw;
    display: block;
    margin: 0 auto;
}

.socialmedia> img:nth-of-type(2){
    margin-top: 4.046vw;
    height: 50.420vw;
}

.socialmedia .container{
    margin-top: -52vw;
}

.socialmedia .container img:first-of-type{
    width: 14.375vw;
    height: 17.083vw;
    grid-row: 1;
    grid-column: 1;
}

.socialmedia .container img:nth-of-type(2){
    width: 14.375vw;
    height: 17.083vw;
    grid-row: 1;
    grid-column: 2;
}

.socialmedia .container img:nth-of-type(3){
    width: 14.375vw;
    height: 17.083vw;
    grid-row: 1;
    grid-column: 3;
}

.socialmedia .container img:nth-of-type(4){
    width: 34.546vw;
    height: 0.756vw;
    grid-row: 2;
    grid-column: 2;
    margin: 1.563vw;
    transform: rotate(180deg);
}

.socialmedia .container img:nth-of-type(5){
    width: 14.375vw;
    height: 17.083vw;
    grid-row: 3;
    grid-column: 1;
}

.socialmedia .container img:nth-of-type(6){
    width: 14.375vw;
    height: 17.083vw;
    grid-row: 3;
    grid-column: 2;
}

.socialmedia .container img:nth-of-type(7){
    width: 14.375vw;
    height: 17.083vw;
    grid-row: 3;
    grid-column: 3;
}

.socialmedia .container img:nth-of-type(8){
    width: 34.546vw;
    height: 0.756vw;
    grid-row: 4;
    grid-column: 2;
    margin: 1.563vw;
    transform: rotate(180deg);
}

.socialmedia .container img:nth-of-type(9){
    width: 14.375vw;
    height: 17.083vw;
    grid-row: 5;
    grid-column: 1;
}

.socialmedia .container img:nth-of-type(10){
    width: 14.375vw;
    height: 17.083vw;
    grid-row: 5;
    grid-column: 2;
}

.socialmedia .container img:nth-of-type(11){
    width: 14.375vw;
    height: 17.083vw;
    grid-row: 5;
    grid-column: 3;
}

.socialmedia .grid{
    grid-template-columns: repeat(3, 14.31vw);
    justify-items: center;
}

/* Footer */

.foot img{
    transform: rotate(180deg);
    width: 53.490vw;
    height: 1.198vw;
    display: block;
    margin: 0 auto;
}

.foot a{
    font-weight: 300;
    font-size: 1.042vw;
    line-height: 1.042vw;
    border: 0.052vw solid #000000;
    border-radius: 1.563vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.383vw;
    height: 2.431vw;
    color: #000;
    margin-top: 2.969vw;
    margin-bottom: 3.327vw;
}

.foot a:hover{
    color: #fff;
    background-color: #000;
}

.foot .grid{
    grid-template-columns: repeat(2, 15.383vw);
    gap: 1.931vw;
}

/* Identidade */

.identidade > img{
    height: 39.948vw;
}

.identidade .container{
    margin-top: -38vw;
}

.identidade .container img:first-of-type{
    width: 23.854vw;
    grid-row: 1;
    grid-column: 2;
}

.identidade .container img:nth-of-type(2){
    width: 23.854vw;
    grid-row: 1;
    grid-column: 3;
}

.identidade .container img:nth-of-type(3){
    width: 23.854vw;
    grid-row: 2;
    grid-column: 2;
}

.identidade .container img:nth-of-type(4){
    width: 23.854vw;
    grid-row: 2;
    grid-column: 3;
}

.identidade .container img:nth-of-type(5){
    width: 15.625vw;
    grid-row: 1;
    grid-column: 1;
    margin-top: -7vw;
    margin-left: -3vw;
}

.identidade .container img:nth-of-type(6){
    width: 25vw;
    grid-row: 2;
    grid-column: 4;
    margin-bottom: -31.250vw;
    margin-left: 9vw;
}

.identidade .grid{
    grid-template-columns: repeat(4, 23.854vw) ;
    overflow: visible;
    gap: 2.448vw;
}

.identidade p:first-of-type{
    text-align: center;
    font-weight: 300;
    font-size: 1.823vw;
    line-height: 2.083vw;
    margin: 1.979vw 0;
}

.identidade b{
    text-align: center;
    font-weight: 600;
    font-size: 2.083vw;
    line-height: 1.042vw;
}

.identidade p:nth-of-type(2){
    text-align: center;
    font-weight: 300;
    font-size: 2.083vw;
    line-height: 2.083vw;
    margin: 6.563vw 0 2.500vw 0;
}

/* Retouch */

.retouch .container{
    margin-top: -15vw;
}

 .retouch > img{
    height: 11.222vw;
 }

 .retouch > p:first-of-type{
    text-align: center;
    font-weight: 300;
    font-size: 1.823vw;
    line-height: 2.083vw;
    margin-top: 43px;
    margin-bottom: 7.344vw;
 }

 .retouch > p:nth-of-type(2){
    font-weight: 300;
    font-size: 1.563vw;
    line-height: 1.563vw;
    text-align: center;
    margin-top: 59px;
    margin-bottom: 27px;
 }

 .retouch .container p{
    font-weight: 300;
    font-size: 1.563vw;
    line-height: 2.083vw;
    text-align: right;
    grid-row: 2;
    grid-column: 3 / 5;
 }

 .retouch .container img{
    width: 14.219vw;
    height: 19.271vw;
 }

 .retouch .container img:nth-of-type(7){
    width: 27.448vw;
    height: 0.417vw;
    grid-row: 2;
    grid-column: 3 / 5;
    justify-self: flex-end;
    margin-bottom: -14vw;
    transform: rotate(180deg);
 }

.retouch .grid{
    grid-template-columns: repeat(4, 14.219vw);
    gap: 3.125vw;
}

/* Impressos */

.impressos ul{
    text-align: center;
    list-style-position: inside;
    font-weight: 400;
    font-size: 1.563vw;
    line-height: 1.823vw;
}

.impressos li{
    font-weight: 300;
    font-size: 1.563vw;
    line-height: 1.823vw;
}

.implist{
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    justify-content: center;
    margin-bottom: 50px;
}

.impressos p:first-of-type{
    font-weight: 300;
    font-size: 1.823vw;
    line-height: 1.823vw;
    text-align: center;
    margin: 67px 0 50px 0;
}

.impressos p:nth-of-type(2){
    font-weight: 300;
    font-size: 1.563vw;
    line-height: 1.563vw;
    text-align: center;
    margin: 67px 0 50px 0;
}

.impressos img{
    width: 28.073vw;
    height: 19.167vw;
}

.impressos .grid{
    grid-template-columns: repeat(2, 28.073vw);
}

/* Motion */

.motion .grid{
    grid-template-columns: 100%;
}

.motion p{
    text-align: center;
    font-weight: 300;
    font-size: 1.823vw;
    line-height: 1.823vw;
    margin: 61px 0;
}

.motion img{
    width: 49.583vw;
    justify-self: center;
    margin-bottom: 143px;
}

/* Trafego */

.trafego .grid{
    grid-template-columns: 100%;
}

.trafego img{
    width: 50.208vw;
    justify-self: center;
}

.trafego p{
    text-align: center;
    font-weight: 300;
    font-size: 1.823vw;
    line-height: 1.823vw;
    margin: 61px 0 25px 0;
}

.trafego p:nth-of-type(2){
    margin: 56px 0 19px 0;
}

/* Criação de Logo */

.criacao .grid{
    grid-template-columns: 100%;
    justify-items: center;
}

.criacao img{
    width: 49.583vw;
}

.criacao img:first-of-type{
    width: 53.333vw;
    margin-left: -4vw;
}

.criacao img:nth-of-type(3){
    width: 53.333vw;
    margin-right: -4vw;
}

.criacao p{
    text-align: center;
    font-weight: 300;
    font-size: 1.823vw;
    line-height: 1.823vw;
    margin: 40px 0 86px 0;
}

.criacao p:nth-of-type(2){
    line-height: 1.042vw;
    margin: 106px 0 36px 0;
}

/* Utilities */

.container{
    max-width: 1920px;
    overflow: auto;
    padding: 0 auto;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
}
